/* BACKGROUND IMAGE*/

html {
  height: 100%;
  background-image: url("../images/background.jpg");
}

/*ENd of background image*/

/*CONTENT CENTER*/

body {
  position: absolute;
  height: 70%;
  width: 60%;
  /*Setting 50/50 color for content center*/
  background: linear-gradient(to right, #D8BFD8, #FFC0CB);
  /*End of Color setting*/
  margin-top: 10%;
  margin-left: 20%;
}

/*END of content block styling section */

/*HEADER SECTION*/

#header {
  text-align: left;
  background-color: black;
  color: white;
  margin-top: -18%;
  position: absolute;
  width: 168%;
  margin-left: -34%
}

/*END OF HEADER SECTION*/

/*CONTENT SECTION*/

.column1 {
  float: left;
  width: 50%;
  text-align: center;
}

.column2 {
  float: right;
  width: 50%;
  text-align: center;
}

/*END OF CONTENT*/

/*Button Styler*/

.dicebutton {
  background-image: url("../images/dice1.png");
  width: 120px;
  height: 120px;
  background-repeat: no-repeat;
  display: inline-block;
  background-size: 113px 110px;
  cursor: pointer;
}

/*End of button styler*/

/*Output Section 1*/

.diceresultleft {
  color: black;
  background-color: #EA2B1F;
  text-align: center;
  width: 150px;
  height: 120px;
  overflow: auto;
  position: absolute;
  margin-left: 17%;
  margin-top: 20%;
}

/*End of Output Section*/

/*Output Section 1*/

.diceresultright {
  color: black;
  background-color: #EA2B1F;
  text-align: center;
  width: 150px;
  height: 120px;
  overflow: auto;
  position: absolute;
  margin-left: 17%;
  margin-top: 20%;
}

/*End of Output Section*/

/*Holdd Game button*/

.holdgame {
  margin-left: 19.5%;
  margin-top: 1%;
  color: #E0008A;
  font-size: 15px;
  width: 100px;
  height: 40px;
  text-align: center;
  border: 2px solid white;
  border-radius: 5px;
  position: absolute;
  font-family: sans-serif;
  font-weight: bold;
}

.holdgame:hover {
  border-radius: 5px;
  background: white;
  box-shadow: 5px 5px 5px #666;
  -o-transition: .5s;
  -ms-transition: .5s;
  -webkit-transition: .5s;
  opacity: .50;
}

/*Hold Game button*/

/*RULES*/

.rules {}

/*end of RULES*/
